<div class="pre-about">
  <pre>
      <code class="language-js line-numbers">
        class FrontEndDeveloper{

          constructor(){
            this.name = "Faiza Rashid";
            this.profession = "Front End Developer (React)"
          }

          function workExperience(){
            const TroonTechnologies = {
              startDate: "04-2020",
              endDate: "04-2023",
              role: "Front End Developer",
              responsibilities: "1- Developed and maintained responsive, high-performance software 
              applications targeting mobile devices and desktop clients in software development
              2- Utilized modern frontend technologies such as React.js, Typescript, HTML5, SCSS and
              JSON to create user-friendly web pages
              3- Custom React hooks using standard approach, broad knowledge of frontend
              development such as React, Redux, Typescript
              4- Redux and Redux toolkit for global state management
              5- Formik and React Forms library for building forms
              6- Client side validation using Formik and Yup
              7- NPM for package installation
              8- Integrated RESTful APIs to enhance functionality and user experience
              9- Work with QA for code review and deploy bug free sprint to production
              10- Attended daily SCRUM meetings and sprint planning  to ensure that project
              implementations follow the architecture design and achieve core web vitals score such as
              performance, accessibility, scalability, security and resilience"   
            };
            const SyntecX = {
              startDate: "01-2019",
              endDate: "03-2020",
              role: "Executive IT (Front End Developer)",
              responsibilities: "1- Built web applications using Angular 7+, HTML, CSS, SCSS and JavaScript
              2- Wrote clean, modular, high-performance, reusable code/ UI components/libraries
              3- Implemented responsive design and cross-browser compatibility using HTML5, CSS3
              and Bootstrap 4 and 5
              4- Slick jquery library to create eye catching carousels
              5- Utilized Git for version control systems and collaborated effectively with team members
              6- Mentoring junior team members
              7- Ticket resolution, time logging and project’s overall progress using JIRA"   
            };
            const Ideofuzion = {
              startDate: "09-2017",
              endDate: "12-2018",
              role: "Front End Developer",
              responsibilities: "1- Collaborate with web development team to design user interfaces for
              client websites using HTML5, CSS3, Bootstrap 4 and 5, JavaScript ES6 and Angular
              2- Assisted in the design, development, and maintenance of responsive, high-performance
              web applications                        
              3- Daily ticket resolutions and time logging on JIRA
              4- Used Github for version control
              5- PSD/Figma/Zeplin prototypes to HTML conversion"   
            };
          };

          function education(){
            const Bachelors = {
              institution: "University of Engineering and Technology, Taxila, Pakistan"
              specialization: "Software Engineering",
              startDate: "10-2013",
              endDate: "07-2017",
            };
            const Diploma = {
              institution: "Virtual University, Pakistan",
              specialization: "Post-Graduate Diploma in Computer Science",
              startDate: "05-2020",
              endDate: "06-2021"
            };
          };

        }
      </code>
    </pre>
</div>
