<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="#landing">
      <span class="purple-clr">[{( </span>Faiza&nbsp;<span class="purple-clr"
        >)}]</span
      >
    </a>
    <button
      class="navbar-toggler hamburgers"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#headerPortfolio"
      aria-controls="headerPortfolio"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse" id="headerPortfolio">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="#landing"
          >{ Intro }</a
        >
        <a class="nav-link" href="#projects">{ Projects }</a>
        <a class="nav-link" href="#about">{ About Me }</a>
        <a class="nav-link" href="#contact">{ Contact }</a>
      </div>
    </div>
  </div>
</nav>
