$black: #1a1527;
$purple: #5918df;
$light-purple: #5a18df2a;
$white: #fff;

$primary-family: "Roboto", sans-serif;
$secondary-family: "Pacifico", cursive;

$primary-fs: 16px;
$secondary-fs: 14px;
$tertiary-fs: 12px;

$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';
$breakpoint-sm: 'only screen and (max-width:767px)';
